@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Karla-Bold.woff2) format ("woff2"), url(fonts/Karla-Bold.woff) format ("woff");
}
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/Karla-ExtraBold.woff2) format ("woff2"), url(fonts/Karla-ExtraBold.woff) format ("woff");
}
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Karla-Medium.woff2) format ("woff2"), url(fonts/Karla-Medium.woff) format ("woff");
}
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Karla-Regular.woff2) format ("woff2"), url(fonts/Karla-Regular.woff) format ("woff");
}
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Karla-SemiBold.woff2) format ("woff2"), url(fonts/Karla-SemiBold.woff) format ("woff");
}
